@using System;
@using System.Reflection;
@using ParameterControl.Models.Parameter
@using ParameterControl.Models.Pagination
@model PaginationResult<TableParametersViewModel>

@{
    PropertyInfo GetRowInfo(string RowValue)
    {
        var property = typeof(ParameterViewModel).GetProperty(RowValue);

        return property;
    }
}
<div class="content_parameters">
    <div class="card_parameters card_element flex_box" id="card_parameters">
        <div class="flex_box titulation">
            <p class="title_table font_bold">Parametros</p>
            @if (Model.Elements.IsCreate)
            {
                <a class="button button_primary" asp-controller="Parameters" asp-action="Create">
                    <p class="text font_bold">Crear</p>
                </a>
            }
        </div>
        <div class="list">
            <div class="element_table">
                @if (Model.Elements.Filter)
                {
                    <div class="content_filter flex_box">

                        <a class="button button_primary" title="Filtrar" asp-controller="Parameters" asp-action="Filter">
                            <p class="text font_bold">Filtrar Tabla</p>
                        </a>

                        @if (ViewBag.ApplyFilter)
                        {
                            <a class="button button_secondary" title="Filtrar" asp-controller="Parameters" asp-action="Parameters">
                                <p class="text font_bold">Eliminar filtros</p>
                            </a>
                        }
                    </div>
                }
                <div id="table" class="content_table">
                    <div class="tables flex_box">
                        <div class="columns">
                            @foreach (var Colunm in Model.Elements.Rows)
                            {
                                <div class="@Colunm.Name column flex_box order">
                                    <p class="text font_bold">@Colunm.Name</p>
                                </div>
                            }
                            @if (Model.Elements.IsView || Model.Elements.IsEdit || Model.Elements.IsInactivate || Model.Elements.IsActivate)
                            {
                                <div class="column actions flex_box">
                                    <p class="text font_bold">Acciones</p>
                                </div>
                            }

                        </div>
                        @if (Model.Elements.Data.Count() == 0)
                        {
                            <p>No existe informacion</p>
                        }
                        else
                        {
                            @foreach (var Parameter in Model.Elements.Data)
                            {
                                @if (Parameter.State)
                                {
                                    <div class="rows">
                                        @foreach (var Row in Model.Elements.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Parameter)?.ToString()</p>
                                            </div>
                                        }
                                        @if (Model.Elements.IsView || Model.Elements.IsEdit || Model.Elements.IsInactivate)
                                        {
                                            <div class="row_table flex_box actions">
                                                @if (Model.Elements.IsView)
                                                {
                                                    <a class="button_icon button_primary" title="Ver" asp-controller="Parameters" asp-action="View" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_041"></i>
                                                    </a>
                                                }
                                                @if (Model.Elements.IsEdit)
                                                {
                                                    <a class="button_icon button_primary" title="Editar" asp-controller="Parameters" asp-action="Edit" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_106"></i>
                                                    </a>
                                                }
                                                @if (Model.Elements.IsInactivate)
                                                {
                                                    <a class="button_icon button_primary" title="Inactivar" asp-controller="Parameters" asp-action="Desactive" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_196"></i>
                                                    </a>
                                                }
                                                
                                            </div>
                                        }

                                        
                                    </div>
                                }
                                else
                                {
                                    <div class="rows disabled">
                                        @foreach (var Row in Model.Elements.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Parameter)?.ToString()</p>
                                            </div>
                                        }
                                        @if (Model.Elements.IsView || Model.Elements.IsEdit || Model.Elements.IsActivate)
                                        {
                                            <div class="row_table flex_box actions">
                                                @if (Model.Elements.IsView)
                                                {
                                                    <a class="button_icon button_primary" title="Ver" asp-controller="Parameters" asp-action="View" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_041"></i>
                                                    </a>
                                                }
                                                @if (Model.Elements.IsEdit)
                                                {
                                                    <a class="button_icon button_primary" title="Editar" asp-controller="Parameters" asp-action="Edit" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_106"></i>
                                                    </a>
                                                }
                                                @if (Model.Elements.IsActivate)
                                                {
                                                    <a class="button_icon button_primary" title="Activar" asp-controller="Parameters" asp-action="Active" asp-route-code="@Parameter.Code">
                                                        <i class="icon icon_199"></i>
                                                    </a>
                                                }

                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="pagination flex_box">
                    <partial name="_Pagination" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/helpers/Filter.js" asp-append-version="true"></script>

