@using System;
@using System.Reflection;
@using ParameterControl.Models.Conciliation
@using ParameterControl.Models.Pagination
@model PaginationResult<TableConciliationViewModel>

@{
    PropertyInfo GetRowInfo(string RowValue)
    {
        var property = typeof(ConciliationViewModel).GetProperty(RowValue);

        return property;
    }
}
<div class="content_conciliations">
    <div class="card_conciliations card_element flex_box" id="card_conciliation">
        <div class="flex_box titulation">
            <p class="title_table font_bold">Conciliaciones</p>
            @if (Model.Elements.IsCreate)
            {
                <a class="button button_primary" asp-controller="Conciliations" asp-action="Create">
                    <p class="text font_bold">Crear</p>
                </a>
            }
        </div>
        <div class="list">
            <div class="element_table">
               <div class="content_filter flex_box">
                   @*  <div class="filter_primary">
                        <div id="field_primary" class="field">
                            <label class="name font_normal" for="select_filter">Filtrar Por :</label>
                            <div id="input" class="input">
                                <input class="input_select" id="input_select_filter" name="input_select_filter" value="" type="text" placeholder="Seleccione una opción" onclick="showOptions()" readonly />
                                <i class="icon icon_select icon_153"></i>
                            </div>
                            <div id="options" class="options">
                                <ul class="options_list">
                                    <li onclick="selectOption('@null', '@null')" class="option">
                                        <p class="option_text">Seleccione una opción</p>
                                    </li>
                                    @foreach (var Colunm in Model.Rows)
                                    {
                                        <li onclick="selectOption('@Colunm.Name', '@Colunm.Value')" class="option">
                                            <p class="option_text">@Colunm.Name</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div id="select_helper" class="select_helper" onclick="showOptions()"></div>
                        </div>
                    </div>

                    <div class="filter_secondary">
                        <div id="field_secundary" class="field">
                            <div id="input" class="input">
                                <input class="input_select" id="input_filter" name="input_filter" type="text" placeholder="Filtro" onkeyup="selectValue()" />
                            </div>
                        </div>
                    </div> *@
                    <a class="button button_primary" title="Filtrar" asp-controller="Conciliations" asp-action="Filter">
                        <p class="text font_bold">Filtrar Tabla</p>
                    </a>

                    @if (ViewBag.ApplyFilter)
                    {
                        <a class="button button_secondary" title="Filtrar" asp-controller="Conciliations" asp-action="Conciliations">
                            <p class="text font_bold">Eliminar filtros</p>
                        </a>
                    }
                </div>

                <div id="table" class="content_table">
                    <div class="tables flex_box">
                        <div class="columns">
                            @foreach (var Colunm in Model.Elements.Rows)
                            {
                                <div class="@Colunm.Name column flex_box order">
                                    <p class="text font_bold">@Colunm.Name</p>
                                </div>
                            }
                            <div class="column actions flex_box">
                                <p class="text font_bold">Acciones</p>
                            </div>
                        </div>
                        @if (Model.Elements.Data.Count() == 0)
                        {
                            <p>No existe informacion</p>
                        }
                        else
                        {
                            @foreach (var Conciliation in Model.Elements.Data)
                            {
                                @if (Conciliation.State)
                                {
                                    <div class="rows">
                                        @foreach (var Row in Model.Elements.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                @if (Row.Value == "Policy")
                                                {
                                                    <a id="text_row" class="text flex_box" asp-controller="Conciliations" asp-action="ViewPolicy" asp-route-code="@Conciliation.PolicyCode">@GetRowInfo(Row.Value)?.GetValue(Conciliation)?.ToString()</a>
                                                }
                                                else
                                                {
                                                    <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Conciliation)?.ToString()</p>
                                                }
                                            </div>
                                        }
                                        <div class="row_table flex_box actions">
                                            <a class="button_icon button_primary" title="Ver" asp-controller="Conciliations" asp-action="View" asp-route-code="@Conciliation.Code">
                                                <i class="icon icon_041"></i>
                                            </a>
                                            <a class="button_icon button_primary" title="Editar" asp-controller="Conciliations" asp-action="Edit" asp-route-code="@Conciliation.Code">
                                                <i class="icon icon_106"></i>
                                            </a>
                                            <a class="button_icon button_primary" title="Inactivar" asp-controller="Conciliations" asp-action="Desactive" asp-route-code="@Conciliation.Code">
                                                <i class="icon icon_196"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="rows disabled">
                                        @foreach (var Row in Model.Elements.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Conciliation)?.ToString()</p>
                                            </div>
                                        }
                                        <div class="row_table flex_box actions">
                                            <button class="button_icon button_primary disabled" title="Ver" disabled>
                                                <i class="icon icon_041"></i>
                                            </button>
                                            <button class="button_icon button_primary disabled" title="Editar" disabled>
                                                <i class="icon icon_106"></i>
                                            </button>
                                            <a class="button_icon button_primary" title="Activar" asp-controller="Conciliations" asp-action="Active" asp-route-code="@Conciliation.Code">
                                                <i class="icon icon_199"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="pagination flex_box">
                    <partial name="_Pagination" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/helpers/Filter.js" asp-append-version="true"></script>

