@using ParameterControl.Models.Conciliation;
@model ConciliationViewModel;

@{
    ViewData["Title"] = "Ver Conciliaciones";
    string ErrorEntyNull = "No existe una conciliacion con el codigo " + ViewBag.CodeSend + ",Conciliations";
    string ErrorSuccess = "Se genero un problema al obtener la informacion,Conciliations";
}

<partial name="_Menu" />

@if (!ViewBag.Success)
{
    <partial name="_ModalError" model="ErrorSuccess" />
}
else
{
    @if (ViewBag.EntyNull)
    {
        <partial name="_ModalError" model="ErrorEntyNull" />
    }
    else
    {
        <div class="box_view">
            <div class="bg__blur"></div>
            <form class="form__container">

                <div class="card__container">
                    <div class="header_form">
                        <img src="/images/iconApple.png" />
                        <h1>Detalles de Conciliaciones</h1>
                    </div>

                    <div class="form_group">
                        <p class="title_form">Código:</p>
                        <p>@Model.CodeFormat</p>
                    </div>
                    <div class="form_groupm">
                        <p class="title_form">Nombre:</p>
                        <p>@Model.Name</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Email:</p>
                        <p>@Model.Email</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Destino:</p>
                        <p>@Model.Destination</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Politica:</p>
                        <p>@Model.Policy</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Tipo de control:</p>
                        <p>@Model.ControlType</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Tipo de operacion:</p>
                        <p>@Model.OperationType</p>
                    </div>
                    <div class="form_group">
                        <p class="title_form">Requerido:</p>
                        <p>@Model.RequiredFormat</p>
                    </div>

                    <div class="btn_container">
                        <a class="button button_secondary btn_cancel-view" asp-controller="Conciliations" asp-action="Conciliations"><p class="text font_bold">Cancelar</p></a>
                    </div>
                </div>
            </form>
        </div>
    }
}