@using System;
@using System.Reflection;
@using ParameterControl.Models.Scenery
@model TableScenariosViewModel

@{
    PropertyInfo GetRowInfo(string RowValue)
    {
        var property = typeof(Scenery).GetProperty(RowValue);

        return property;
    }
}
<div class="content_scenarios">
    <div class="card_scenarios card_element flex_box" id="card_scenarios">
        <div class="flex_box titulation">
            <p class="title_table font_bold">Escenarios</p>
            @if (Model.IsCreate)
            {
                <button class="button button_primary">
                    <p class="text font_bold">Crear</p>
                </button>
            }
        </div>
        <div class="list">
            <div class="element_table">
                <div class="content_filter flex_box">
                    @* <div class="filter_primary">
                        <div id="field_primary" class="field">
                            <label class="name font_normal" for="select_filter">Filtrar Por :</label>
                            <div id="input" class="input">
                                <input class="input_select" id="input_select_filter" name="input_select_filter" value="" type="text" placeholder="Seleccione una opción" onclick="showOptions()" readonly />
                                <i class="icon icon_select icon_153"></i>
                            </div>
                            <div id="options" class="options">
                                <ul class="options_list">
                                    <li onclick="selectOption('@null', '@null')" class="option">
                                        <p class="option_text">Seleccione una opción</p>
                                    </li>
                                    @foreach (var Colunm in Model.Rows)
                                    {
                                        <li onclick="selectOption('@Colunm.Name', '@Colunm.Value')" class="option">
                                            <p class="option_text">@Colunm.Name</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div id="select_helper" class="select_helper" onclick="showOptions()"></div>
                        </div>
                    </div>

                    <div class="filter_secondary">
                        <div id="field_secundary" class="field">
                            <div id="input" class="input">
                                <input class="input_select" id="input_filter" name="input_filter" type="text" placeholder="Filtro" onkeyup="selectValue()" />
                            </div>
                        </div>
                    </div> *@
                    <a class="button button_primary" title="Filtrar" asp-controller="Scenarios" asp-action="Filter">
                        <p class="text font_bold">Filtrar Tabla</p>
                    </a>

                    @if (ViewBag.ApplyFilter)
                    {
                        <a class="button button_secondary" title="Filtrar" asp-controller="Scenarios" asp-action="Scenarios">
                            <p class="text font_bold">Eliminar filtros</p>
                        </a>
                    }
                </div>

                <div id="table" class="content_table">
                    <div class="tables flex_box">
                        <div class="columns">
                            @foreach (var Colunm in Model.Rows)
                            {
                                <div class="@Colunm.Name column flex_box order">
                                    <p class="text font_bold">@Colunm.Name</p>
                                </div>
                            }
                            <div class="column actions flex_box">
                                <p class="text font_bold">Acciones</p>
                            </div>
                        </div>
                        @if (Model.Data.Count() == 0)
                        {
                            <p>No existe informacion</p>
                        }
                        else
                        {
                            @foreach (var Scenary in Model.Data)
                            {
                                @if (Scenary.State)
                                {
                                    <div class="rows">
                                        @foreach (var Row in Model.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Scenary)?.ToString()</p>
                                            </div>
                                        }
                                        <div class="row_table flex_box actions">
                                            <a class="button_icon button_primary" title="Ver" asp-controller="Scenarios" asp-action="View" asp-route-id="@Scenary.Id">
                                                <i class="icon icon_041"></i>
                                            </a>
                                            <a class="button_icon button_primary" title="Editar" asp-controller="Scenarios" asp-action="Edit" asp-route-id="@Scenary.Id">
                                                <i class="icon icon_106"></i>
                                            </a>
                                            <a class="button_icon button_primary" title="Inactivar" asp-controller="Scenarios" asp-action="Desactive" asp-route-id="@Scenary.Id">
                                                <i class="icon icon_196"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="rows disabled">
                                        @foreach (var Row in Model.Rows)
                                        {
                                            <div class="row_table flex_box">
                                                <p id="text_row" class="text flex_box">@GetRowInfo(Row.Value)?.GetValue(Scenary)?.ToString()</p>
                                            </div>
                                        }
                                        <div class="row_table flex_box actions">
                                            <button class="button_icon button_primary disabled" title="Ver" disabled>
                                                <i class="icon icon_041"></i>
                                            </button>
                                            <button class="button_icon button_primary disabled" title="Editar" disabled>
                                                <i class="icon icon_106"></i>
                                            </button>
                                            <a class="button_icon button_primary" title="Activar" asp-controller="Scenarios" asp-action="Active" asp-route-id="@Scenary.Id">
                                                <i class="icon icon_199"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="pagination flex_box">
                    <div id="pagination_mobile" class="custom_pagination pagination_mobile flex_box">
                        <button class="button button_primary">
                            <i class="icon text icon_160"></i>
                            <p class="text font_bold">Anterior</p>
                        </button>
                        <p class="pages font_light">
                            pagina 1 de 2
                        </p>
                        <button class="button button_primary">
                            <p class="text font_bold">Siguiente</p>
                            <i class="icon text icon_158"></i>
                        </button>
                    </div>
                    <div id="pagination_desktop" class="custom_pagination pagination_desktop flex_box">
                        <div class="navigator flex_box">
                            <button class="button button_primary">
                                <p class="text font_bold">Primera</p>
                            </button>
                            <button class="button_icon button_primary">
                                <i class="icon text icon_152"></i>
                            </button>
                            <div class="pages flex_box">
                                <button class="button_icon button_primary">
                                    <p class="text font_bold">1</p>
                                </button>
                                <button class="button_icon button_primary">
                                    <p class="text font_bold">2</p>
                                </button>
                                <button class="button_icon button_primary">
                                    <p class="text font_bold">3</p>
                                </button>
                                <button class="button_icon button_primary">
                                    <p class="text font_bold">4</p>
                                </button>
                                <button class="button_icon button_primary">
                                    <p class="text font_bold">5</p>
                                </button>
                            </div>
                            <button class="button_icon button_primary">
                                <i class="icon text icon_151"></i>
                            </button>
                            <button class="button button_primary">
                                <p class="text font_bold">Ultima</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/helpers/Filter.js" asp-append-version="true"></script>


